<div id="footer">
    <screen-title [title]="title"></screen-title>

    <div id="contactWidget">
        <div id="contactData" class="row">
            <div class="col-md-6 contactDataItem" id="email">
                <img src="assets/email.png">
                <a href="mailto:{{email}}">{{email}}</a>
            </div>
            <div class="col-md-6 contactDataItem" id="linkedin">
                <img src="assets/linkedin.png">
                <a href="{{linkedin}}" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div id="avatar">
            <img class="img-circle" src="{{avatar}}">
        </div>
    </div>

    <div id="miniContactWidget" class="container">
        <div id="avatar">
            <img class="img-circle" src="{{avatar}}">
        </div>

        <div class="contactDataItem">
            <img src="assets/email.png">
            <a href="mailto:{{email}}">{{email}}</a>
        </div>

        <div class="contactDataItem">
            <img src="assets/linkedin.png">
            <a href="{{linkedin}}" target="_blank">LinkedIn</a>            
        </div>
    </div>

    <div id="bottomBar">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="uiCredits">
                    {{creditsTitle}}: <a href="{{creditsLink}}">{{creditsName}}</a>
                </div>
            </div>
        </div>
    </div>  
</div>