<div id="navBar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 title">
                {{title}}
            </div>
            <div class="col-xs-3 col-md-2">
                <div class="menuItem clickable" (click)="goToPortfolio()">{{portfolioTitle}}</div>
            </div>
            <div class="col-xs-3 col-md-2">
                <div class="menuItem clickable" (click)="goToCV()">{{cvTitle}}</div>
            </div>
            <div class="col-xs-3 col-md-2">
                <div class="menuItem clickable" (click)="goToContact()">{{contactTitle}}</div>
            </div>
            <div class="col-xs-3 col-md-2" id="langSelectorContainer">
                <a id="downloadButton" href="assets/iguerendiainCV.pdf" download="iguerendiainCV.pdf"></a>
                <img src="assets/langSelector.png" class="clickable" (click)="toggleLanguageSelector()" />
            </div>
        </div>
        <div id="languageSelector" *ngIf="languageSelectorOpen">
            <div class="languageSelectorItem clickable" (click)="setLanguage(l.code)" *ngFor="let l of languages">{{l.name}}</div>
        </div>        
    </div>
</div>