<div id="container" class="col-xs-12 col-sm-6 col-md-4">
    <div id="subcontainer">
        <div id="bannerContainer">
            <div id="bannerImage"  [style.background]="banner"></div>
            <div id="bannerOverlay"></div>
            <div id="icon"><img *ngIf="icon" src="{{icon}}"></div>
            <div id="title">{{title}}</div>
        </div>

        <div id="description">
            <ul *ngIf="items">
                <li *ngFor="let item of items">{{item}}</li>
            </ul>
            <span *ngIf="description">{{description}}</span>
        </div>

        <div class="clearfix"></div>

        <div id="separatorContainer">
            <div id="line"></div>
            <div id="text">///</div>
        </div>


        <div id="links">
            <a *ngFor="let url of urls" href="{{url.url}}" target="_blank"><img src="{{url.icon}}" title="{{url.title}}" alt="{{url.title}}"></a>
        </div>

    </div>
</div>