#title{
    padding-left:6px;
    padding-right:6px;
    color:var(--color-primary);
    font-weight:bold;
}

ul{
    list-style-image: url('/assets/listBullet.png');
}

li{
    float:left;
}

#container{
    margin-bottom:12px;
}

@media (min-width:700px){
    li{
        width:33.333%
    }
}

@media (max-width:700px){
    li{
        width:50%;
    }
}